// Primary
$red:hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// Neutral

$white: hsl(0, 0%, 100%);
$Very-light-blue: hsl(210, 60%, 98%);
$Light-grayish-blue-1: hsl(211, 68%, 94%);
$Light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$Dark-grayish-blue: hsl(219, 12%, 42%);
$Very-dark-blue: hsl(224, 21%, 14%);

//Typo
$regular-size:1rem;
$font-family:'Plus Jakarta Sans', sans-serif;
$weight-semi: 500;
$weight-hard:800;